// colors

$primaryColor: hsl(53, 97, 51, 100%);
$secondaryColor: hsl(0, 0, 10, 100%);
$triataryColor: #ededed;
$white: hsl(255, 255, 255, 100%);

// fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

$font: "Poppins", "sans-serif";

// breakpoints

$mobile-large: 500px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;