// navigation

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  align-items: center;
  padding: 1.25rem;
  will-change: transform opacity;
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  background-color: #ededed3b;

  @media (min-width: $laptop) {
    padding: 0 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    text-align: center;
    background-color: $primaryColor;
    border-radius: 7px;
    padding: 1.5rem 0;
    transform: translateY(calc(-100% - 64px));
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 999;

    @media (min-width: $laptop) {
      position: relative;
      left: 0;
      flex-direction: row;
      transform: translate(0);
      opacity: 1;
      width: fit-content;
      background-color: transparent;
    }
  }

  &__item {
    position: relative;
    padding: 0.5rem;

    a {
      text-decoration: none;
      width: fit-content;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0%;
        height: 1px;
        width: 0%;
        background-color: $secondaryColor;
        transition: all 0.3s ease-in-out;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }
}

.hamburger {
  position: relative;
  height: 18px;
  width: 30px;
  cursor: pointer;

  @media (min-width: $laptop) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30px;
    height: 1px;
    background-color: $secondaryColor;
    transform-origin: right center;
    transition: all 0.3s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 30px;
    height: 1px;
    background-color: $secondaryColor;
    transform-origin: left;
    transition: all 0.3s ease-in-out;
  }
}

.active {
  transform: translateX(0%);
  opacity: 1;
}

.bar-active {
  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// hero

.main {
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $laptop) {
    flex-direction: row;
    justify-content: space-around;
  }

  &__container {
    background-image: url("../images/circle.svg");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: auto 40%;
    padding: 2rem;
  }

  &__heading {
    font-size: 2.4rem;

    @media (min-width: $tablet) {
      font-size: 4rem;
    }
  }

  &__description {
    margin-bottom: 0.5rem;
  }

  &__image {
    min-height: 30%;
    width: 80%;

    @media (min-width: $mobile-large) {
      width: 60%;
    }

    @media (min-width: $tablet) {
      width: 75%;
    }

    @media (min-width: $laptop) {
      width: 35%;
    }
  }
}

.btn {
  position: relative;
  background-color: $primaryColor;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $secondaryColor;
    border-radius: 5px;
    transform: translate(-5px, 5px);
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    transform: translate(0, 0);
  }
}
