// navigation

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  align-items: center;
  padding: 1.25rem;
  &__list {
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    text-align: center;
    background-color: $primaryColor;
    border-radius: 7px;
    padding: 1.5rem 0;
    transform: translateY(calc(-100% - 64px));
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }
  &__item {
    // z-index: 999;
    padding: 0.5rem;
  }
}
.hamburger {
  position: relative;
  height: 18px;
  width: 30px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30px;
    height: 1px;
    background-color: $secondaryColor;
    transform-origin: right center;
    transition: all 0.3s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 30px;
    height: 1px;
    background-color: $secondaryColor;
    transform-origin: left;
    transition: all 0.3s ease-in-out;
  }
}

.active {
  transform: translateX(0%);
  opacity: 1;
}

.bar-active {
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

// hero

.main {
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-around;
  }
  &__container {
    background-image: url("../images/circle.svg");
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: auto 40%;
    padding: 2rem;
  }
  &__heading {
    font-size: 2.4rem;
    @media (min-width: $tablet) {
      font-size: 4rem;
    }
  }
  &__description {
    margin-bottom: 0.5rem;
  }
  &__image {
    min-height: 30%;
    width: 80%;
    @media (min-width: $mobile-large) {
      width: 60%;
    }
    @media (min-width: $tablet) {
      width: 75%;
    }
    @media (min-width: $desktop) {
      width: 35%;
    }
  }
}

.btn {
  position: relative;
  background-color: $primaryColor;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 500;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $secondaryColor;
    border-radius: 5px;
    transform: translate(-5px, 5px);
    transition: all 0.3s ease-in-out;
  }
  &:hover::before {
    transform: translate(0, 0);
  }
}

// project section

.projects {
  min-height: 30vh;
  text-align: center;
  padding-bottom: 5rem;
  &__heading {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 0.9rem;
  &__item {
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0.7rem;
    @media (min-width: $tablet) {
      width: 300px;
    }
  }
  &__info {
    padding: 1.5rem;
    text-align: left;
    background-color: $secondaryColor;
    color: $white;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 0.9rem;
    margin: 1.3rem 0;
    &__item {
      padding: 0.25rem 0.7rem;
      border-radius: 5px;
      color: $secondaryColor;
      background-color: $primaryColor;
    }
  }
  img {
    height: auto;
  }
}

// skills section

.skills {
  background-color: $primaryColor;
  position: relative;
  min-height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
  &__header {
    grid-column: 1/-1;
    padding-bottom: 1.5rem;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    @media (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
