// project section
.projects {
  text-align: center;
  padding: 2rem;
  @media (min-width: $laptop) {
    padding: 2rem 7rem;
  }
  &__heading {
    margin-bottom: 2rem;
  }
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $laptop) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    padding: 5rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: $secondaryColor;
    color: $white;
    // max-width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
  }

  &__img {
    height: auto;
  }

  &__info {
    padding: 1.5rem;
  }

  &__heading {
    margin-bottom: 0.5rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    gap: 0.8rem;
    margin: 1.5rem 0;

    &__item {
      border-radius: 5px;
      color: $secondaryColor;
      background-color: $primaryColor;
      padding: 0.35rem 1rem;
    }
  }

  &__description {
    font-size: 0.8rem;
    margin: 1.5rem 0;
  }

  &__btn {
    width: 100%;
    background-color: $white;
  }
}
